* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#visitor li {
  list-style: none;
  float: left;
  background-color: #2da8f8;
  padding: 1%;
  margin-left: 2%;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
