@import url("https://fonts.googleapis.com/css2?family=Mulish&family=Poppins&family=Raleway&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.navbar {
  background-color: white;
  height: 70px;
}
.navbar__link {
  color: black;
}
.navbar__link {
  text-decoration: none !important;
}
.navbar__link:hover {
  color: black;
}
